.figureSlideContainer{
  scroll-snap-align: center;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.figureSlideContainer img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
  border: 1px solid #999090;
}

.figureSlideContainer legend{
  position: absolute;
  top: 10px;
  left: 10px;
}

.figureSlideContainer h2{
  color: #ffdb65;
  stroke: 1px #80791e;
  -webkit-text-stroke: 1px #80791e;
  font-weight: 700;
  font-size: 3rem;
}
.figureSlideContainer p{
  font-weight: 600;
  text-align: center;
  color: #e8de59;
  font-size: 1.3rem;
}
